.hoverOptionsParent{
    &:hover .hoverOptions,.hoverOptions.clicked{
        visibility: visible;
    }   
}

.hoverOptions{
    &::after{content: '\f142';}
    cursor: pointer;
    text-align: center;
    visibility: hidden;
    float: right;
}

.contextMenu{
    display: block;
    background-color: $lightColor;
    border: 2px solid $bgC-saturated;
    border-radius: 10px;
    cursor: default;
    li{
        list-style: none;
        padding: 0.5em 1em;
        white-space: nowrap;
        &:hover{
            background-color: $bgC-light;
        }
    }

    --x-pos:0;
    --y-pos:0;
    position:absolute;
    top: var(--y-pos);
    left: var(--x-pos);
    z-index: 10;

    transform-origin: top right;
    animation: scale-open 0.1s ease-out forwards;
    @keyframes scale-open {
        from{   transform: translateX(-100%) scale(0);}
        to{     transform: translateX(-100%) scale(1);}
    }
}