#FAB{
    position: fixed;
    bottom: 6%;
    right: 6%;
    z-index: 8;

    font-size: 1.5rem;
    font-weight: 600;

    padding: 0.25em 0.75em;    
    background-color: $lightColor;
    border-radius: 25px;
    border: 2px solid $darkColor;

    &::before{
        content: '\f304';
        width: 1rem;
        margin-right: 1em;
    }
    &:hover{
        background-color: $bgC-light;
        cursor: pointer;
    }
    &:active{
        background-color: $darkColor;
        color: $lightColor;
    }

}