@import './config.scss';

body{
    //default font
    font-family: 'Poppins', sans-serif;
    background-color: $bgC-light;

    display: grid;
    grid-template-columns: minmax(auto, 300px) 1fr;
    grid-template-rows: min-content 1fr;
    height: 100vh;
    grid-template-areas: 
        "navMenu logo"
        "navMenu rightSide";
    overflow-y: hidden;
}

.logo{
    font-family: 'Libre Bodoni', serif;
    font-size: 3rem;
    padding: 0.5em 1em;
    background-color: scale-color($bgC-light, $alpha: -30%);
    z-index: 3;

    grid-area: logo;
}

nav{
    grid-area: navMenu;
}

.rightSide{
    z-index: 2;
    grid-area: 1/2/-1/-1;
    padding-inline: 5%;
    padding-block: (3rem*(1.25+1)) 2rem;
    overflow-y: auto;
}

@import 'FAB.scss';

/* SCROLLBAR */
* {
  scrollbar-width: thin;
  scrollbar-color: #fec600 #000;
}
*::-webkit-scrollbar {
  width: 14px;
}
*::-webkit-scrollbar-track {
    background-color: $bgC-saturated;
    border-radius: $standard-border-radius;
}
*::-webkit-scrollbar-thumb {
    background-color: $lightColor;
    border: 2px solid $bgC-light;
    border-radius: 5px;
}
/* SCROLLBAR */

/* SELECTION COLOR */
::selection{
    background-color: $darkColor;
    color: $bgC-saturated;
}
/* SELECTION COLOR */

@import 'navStyling.scss';
@import 'contextMenu.scss';
@import 'rightSide.scss';
@import 'modal.scss';


