nav{
    background-color: $lightColor;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    
    &>span,section{
        font-size: 1.5rem;
        font-weight: 600;
        margin-left: 2em;

        &>ul{
            margin-left: 1em;
        }
    }
    
    #homeTab::before{
        content: '\f015';
    }
    #projectsTab::before{
        content: '\f02d';
    }
    #allTasksTab::before{
        content: '\f304';
    }
    
    #homeTab,#projectsTab,#allTasksTab{
        cursor: pointer;
    }
    
    .projectSlab{
        font-size: 1rem;
        font-weight: 400;
        margin-block: 0.5em;
        margin-left: 1em;
        padding-left: 1em;
        width: 80%;
        cursor: default;

        --iconHex:'';
    
        &::marker{
            content: var(--iconHex);
        }
        
        .projectName{
            cursor: pointer;
        }
    }
    
    #newProjectFromNav{
        width: 60%;
        margin-left: 1em;
        padding: 0.5em 0.5em;
    
        border: none;
        border-radius: 10px;
        outline: none;
        
        background-color: $lightColor;
        transition: background-color 0.4s;
        &:hover{
            background-color: $bgC-light;
        }
        &:focus{
            background-color: $lightColor;
        }
    
        font-size: 1rem;
        font-weight: 200;
        &::placeholder{
            font-style: italic;
        }
    }
}

@import './linksSection.scss';